* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
body {
  background: #f7f7f7;
  color: rgb(0, 8, 31);
  font-family: "ubuntu", sans-serif;
  font-size: 1em;
}
h1 {
  text-align: center;
}
section {
  margin-top: 48px;
}
